@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .caret {
        position: relative;
    }

    .caret::before {
        content: '>';
        position: absolute;
        @apply -left-4;
    }

    .input::after {
        content: '_';
        display: inline-block;
        animation: blink 1s step-end infinite;
        vertical-align: top;
    }

}

@layer utilities {

    @keyframes blink {
        from, to { opacity: 0 }
        50% { opacity: 1 }
    }

}