@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .terminal {
        text-shadow: 0 0 3px rgb(52, 211, 153);
        position: relative;
        background-image: radial-gradient(
            rgba(52, 211, 153, 0.1), rgb(17, 24, 39) 120%
        );
        box-shadow: 3px 3px 0px -1px rgb(17, 24, 39), 10px 10px 0px -1px rgba(52, 211, 153, 0.75); 
    }

    .terminal:after {
        background: repeating-linear-gradient(rgb(17, 24, 39), rgb(17, 24, 39) 1px, transparent 1px, transparent 2px);
        content: '';
        display: block;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        left: 2px;
        top: 2px;
        opacity: .15;
        pointer-events: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .caret {
        position: relative;
    }

    .caret::before {
        content: '>';
        position: absolute;
        @apply -left-4;
    }

    .input::after {
        content: '_';
        display: inline-block;
        animation: blink 1s step-end infinite;
        vertical-align: top;
    }

}

@layer utilities {

    @keyframes blink {
        from, to { opacity: 0 }
        50% { opacity: 1 }
    }

}